    ::-webkit-scrollbar{
        width: 11px;
    }
    /* ::-webkit-scrollbar-button{
        background:#FAD;
    } */
    ::-webkit-scrollbar-thumb{
        background: #FAD;
        border-radius: 5px;
        border: 2px solid #FAD;
        box-shadow: inset 2px 2px 3px #F08;
    }
    ::-webkit-scrollbar-track{
        background: #F08;
    }
    body{
        background-color: #F08;
        overflow-x: hidden;
        }
    nav {
        background-color: rgba(233, 20, 126, 0);
        height: 65px;
        width: 100vw;
    }

    header {
        position: sticky;
        top: 0px;
    }

    header nav ul {
        float: right;
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
.topimg{
    position: relative;
        left: -1px;
        top: -10px;
        box-shadow: inset 3px 3px 7px;
        height: 48px;
        width: 48px;
    }
    .topimg:hover{
    box-shadow: 5px 5px 15px;
    transition: .2s ease;
    }
    /* nav img {
        position: relative;
        left: 10px;
        top: 8px;
    } */
    nav button{
        background-color: #FAD;
        margin: 20px;
        border: 2px solid #FAD;
        color: #F08;
        border-radius: 6px;
        height: 30px;
        width: 57px;
        top: 2px;
        position: relative;
        right: 15px;
        text-align: center;
        font-family: 'Shadows Into Light Two', cursive;
        box-shadow: inset 3px 3px 7px;
    }
    nav button:hover{
    box-shadow: 5px 5px 15px;
    transition: .5s ease;
    }
    .h1{
    color: rgb(109, 23, 69);
    font-family: 'Shadows Into Light Two', cursive;
    position: relative;
    left: 44vw;
    font-size: 3vw;
    /* text-shadow: 5px 5px 5px black; */
}
.h1:hover{
text-shadow: 5px 5px 9px white;
transition: .2s ease-in-out;
}
/* span{
    width: 50px;
} */
    .box1{
        width: 20vw;
        border: 2px solid transparent;
        border-radius: 20px;
        margin: 10px;
        position: relative;
        left: 5vw;
        top: 5vh;
        box-shadow: 5px 5px 5px;
        transition: .6s ease;
    }
    .box1:hover{
box-shadow: 5px 5px 15px white;
transition: .2s ease;
    }
    .container{
        background-color: rgba(255, 0, 136, 0.596);
        backdrop-filter: blur(1px);
    }
    footer{
        background-color: black;
        color: #FAD;
        position: relative;
        bottom: 0px;
        text-align: center;
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 2vh;
    }
    * {
        margin: 0;
        padding: 0;
    }

